{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            background-color: #93c5fd;
        }

        table {
            width: 75%;
        }
    </style>
{% endblock %}

{% block body %}
    <table>
        {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
